@mixin wh($w, $h: $w) {
    width: $w;
    height: $h;
}

@mixin icon-bgc($icon-data) {
    background: url($icon-data) no-repeat center;
    background-size: contain;
}

@mixin icon-mobile-menu($height, $width) {
    position: relative;
    width: $width;
    height: $height;
    transition-duration: 0.5s;
}

@mixin icon-count() {
    &.not-empty {
        position: relative;
        &:before {
            @include wh(30px);
            content: attr(data-count);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -50%;
            right: -70%;
            background: $base-orange-light;
            border-radius: 50%;
            font-size: 13px;
            line-height: 15px;
            color: $base-white;
            font-style: initial;
        }
    }
}

@mixin icon-count-fixed($icon) {
    &--fixed {
        position: relative;
        & .icon.not-empty {
            background-image: url($icon);
            background-position: 10% 55%;
            padding-right: 35px;
            &:before {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}

@mixin icon-mobile-menu-before($height, $width, $top, $bg-color: #fff) {
    content: "";
    position: absolute;
    top: $top;
    width: $width;
    height: $height;
    transition-duration: 0.5s;
    background-color: $bg-color;
}

@mixin icon-mobile-menu-after($height, $width, $top, $bg-color: #fff) {
    content: "";
    position: absolute;
    top: $top;
    width: $width;
    height: $height;
    transition-duration: 0.5s;
    background-color: $bg-color;
}

@mixin rotate($deg: 180deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin hover-link($color) {
    @include transitionEaseOutQuint(color);
    &:hover {
        color: $color;
    }
}

@mixin placeholder() {
    &::-webkit-input-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    /* Firefox 19+ */
    &:-moz-placeholder {
        @content;
    }
    /* Firefox 18- */
    &:-ms-input-placeholder {
        @content;
    }
}

@mixin outline-none() {
    &:focus, &:active {
        outline: none;
    }
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
    -webkit-tap-highlight-color: transparent;
}
@mixin transition($property, $duration, $timing-function, $delay) {
    -webkit-transition: $property $duration $timing-function $delay;
    -moz-transition: $property $duration $timing-function $delay;
    -o-transition: $property $duration $timing-function $delay;
    transition: $property $duration $timing-function $delay;
}

@mixin transitionSomeProps($properties, $duration, $timing-function, $delay) {
    $item: false;
    @each $property in $properties {
        @if $item {
            $item: "#{$property $duration $timing-function $delay}, #{$item}";
        }
        @else {
            $item: $property $duration $timing-function $delay;
        }
    }
    -webkit-transition: #{$item};
    -moz-transition: #{$item};
    -o-transition: #{$item};
    transition: #{$item};
}

@mixin transitionEaseOutQuint($properties, $duration: 0.6s, $delay: 0s) {
    @include transitionSomeProps(
        $properties,
        $duration,
                    cubic-bezier(0.23, 1, 0.32, 1),
                    $delay
    );
}

@mixin margin-left-centered {
    @include from(1300px) {
        margin-left: #{calc((100% - 1280px) / 2)};
        padding: 0 20px 0 0;
    }

    @include col-padding;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin catalog-label {
    padding: 6px 16px;
    background: #da1515;
    border-radius: 4px 0 0 4px;
    font-weight: $normal;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }

    &.sale {
        background: #da1515;
    }

    &.new {
        background: #32a759;
    }
}

@mixin catalog-label-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}


@mixin scroll-custom {
    /* Firefox */
    scrollbar-color: #f0ae76 #fff;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-track {
        box-sizing: border-box;
        border: none;
        background: #fff;
    }

    &::-webkit-scrollbar-thumb {
        box-sizing: border-box;
        border: none;
        background-color: #f0ae76;
        outline: none;
    }
}