@import "icons-data";
@import "mixins";

.icon {
    @include outline-none;
    @include transitionEaseOutQuint(background);
    display: inline-block;
    cursor: pointer;
}

.icon-burger {
    @include icon-mobile-menu(2px, 20px);
    box-sizing: border-box;
    margin: auto;
    cursor: pointer;
    background-color: #f27121;
    border-radius: 3px;

    &:before {
        @include icon-mobile-menu-before(2px, 20px, -8px, #f27121);
        box-sizing: border-box;
        border-radius: 3px;
    }

    &:after {
        @include icon-mobile-menu-after(2px, 20px, 8px, #f27121);
        box-sizing: border-box;
        border-radius: 3px;
    }

    &.active {
        transition: 0.5s;
        background: transparent;

        &:before {
            width: 28px;
            transform: rotateZ(45deg) translate(6px, 7px);
        }

        &:after {
            width: 28px;
            transform: rotateZ(-45deg) translate(6px, -7px);
        }
    }

    &.active-fixed {
        position: fixed;
        z-index: 101;
        top: 25px;
        right: 20px;
    }
}

.icon-mail {
    @include wh(24px);
    @include icon-bgc(icon-mail());
}

.icon-person {
    @include wh(24px);
    @include icon-bgc(icon-person());
}

.icon-lock {
    @include wh(24px);
    @include icon-bgc(icon-lock());
}

.icon-goods {
    @include wh(24px);
    @include icon-bgc(icon-goods());
}

.icon-report {
    @include wh(24px);
    @include icon-bgc(icon-report());
}

.icon-shop {
    @include wh(24px);
    @include icon-bgc(icon-shop());
}

.icon-brand {
    @include wh(24px);
    @include icon-bgc(icon-brand());
}

.icon-unload {
    @include wh(24px);
    @include icon-bgc(icon-unload());
}

.icon-settings {
    @include wh(24px);
    @include icon-bgc(icon-settings());
}

.icon-search {
    @include wh(24px);
    @include icon-bgc(icon-search());
}

.icon-plus {
    @include wh(16px);
    @include icon-bgc(icon-plus());
}

.icon-download {
    @include wh(17px,16px);
    @include icon-bgc(icon-download());
}

.icon-download-select {
    @include wh(24px);
    @include icon-bgc(icon-download-select());
}
