.login {
    &-form {
        @include lg-block {
            padding: 79px 98px 60px;
        }
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 720px;
        padding: 32px;
        background: #fff;

        &__title {
            @include lg-block {
                margin-bottom: 50px;
            }
            margin-bottom: 25px;
        }
    }
}