

mixin header
    include ../../components/person/person
    header.header
        +container
            .__inner
                .__top
                    .__mobile-menu
                        +icon('burger')._mobile-menu-icon.js-sidebar-menu
                    .__toolbar
                        h1.h1.__title=title
                        .__person
                            +person
                if block
                    .__data
                        block