.header {
    padding-top: 50px;
    border-bottom: 1px solid #ededed;

    &__toolbar {
        margin-bottom: 48px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__data {
        margin-bottom: 20px;
    }
}