-
    const selectShop = [
        {
            name: 'МВидео',
            value: 'mvideo'
        },
        {
            name: 'Эльдорадо',
            value: 'eldorado'
        },
        {
            name: 'Ситилинк',
            value: 'citylink'
        },
        {
            name: 'Vasco.ru',
            value: 'vasco'
        },
        {
            name: 'МВидео',
            value: 'mvideo'
        },
        {
            name: 'Эльдорадо',
            value: 'eldorado'
        },
        {
            name: 'Ситилинк',
            value: 'citylink'
        },
        {
            name: 'Vasco.ru',
            value: 'vasco'
        }
    ]
    const selectGoods = [
        {
            name: 'Товары',
            value: ''
        },
        {
            name: 'Товар МВидео',
            value: '1'
        },
        {
            name: 'Товар Эльдорадо',
            value: '2'
        },
        {
            name: 'Товар Ситилинк',
            value: '3'
        },
        {
            name: 'Товар Vasco.ru',
            value: '4'
        },
        {
            name: 'Товар МВидео',
            value: '5'
        },
        {
            name: 'Товар Эльдорадо',
            value: '6'
        },
        {
            name: 'Товар Ситилинк',
            value: '7'
        },
        {
            name: 'Товар Vasco.ru',
            value: '8'
        }
    ]
    const selectBrands = [
        {
            name: 'Бренд',
            value: ''
        },
        {
            name: 'Electrolux',
            value: '1'
        },
        {
            name: 'Hisense',
            value: '2'
        },
        {
            name: 'Indesit',
            value: '3'
        }
    ]