-
    const selectShop = [
        {
            name: 'МВидео',
            value: 'mvideo'
        },
        {
            name: 'Эльдорадо',
            value: 'eldorado'
        },
        {
            name: 'Ситилинк',
            value: 'citylink'
        },
        {
            name: 'Vasco.ru',
            value: 'vasco'
        },
        {
            name: 'МВидео',
            value: 'mvideo'
        },
        {
            name: 'Эльдорадо',
            value: 'eldorado'
        },
        {
            name: 'Ситилинк',
            value: 'citylink'
        },
        {
            name: 'Vasco.ru',
            value: 'vasco'
        }
    ]
    const selectGoods = [
        {
            name: 'Товары',
            value: ''
        },
        {
            name: 'Товар МВидео',
            value: '1'
        },
        {
            name: 'Товар Эльдорадо',
            value: '2'
        },
        {
            name: 'Товар Ситилинк',
            value: '3'
        },
        {
            name: 'Товар Vasco.ru',
            value: '4'
        },
        {
            name: 'Товар МВидео',
            value: '5'
        },
        {
            name: 'Товар Эльдорадо',
            value: '6'
        },
        {
            name: 'Товар Ситилинк',
            value: '7'
        },
        {
            name: 'Товар Vasco.ru',
            value: '8'
        }
    ]
    const selectBrands = [
        {
            name: 'Бренд',
            value: ''
        },
        {
            name: 'Electrolux',
            value: '1'
        },
        {
            name: 'Hisense',
            value: '2'
        },
        {
            name: 'Indesit',
            value: '3'
        }
    ]
    const selectRange = [
        {
            name: 'Показывать по 8',
            value: '8'
        },
        {
            name: 'Показывать по 16',
            value: '16'
        },
        {
            name: 'Показывать по 32',
            value: '32'
        },
        {
            name: 'Показывать по 64',
            value: '64'
        }
    ]
    const selectCategory = [
        {
            name: 'Категория',
            value: ''
        },
        {
            name: 'Категория 1',
            value: '1'
        },
        {
            name: 'Категория категория 2',
            value: '2'
        },
        {
            name: 'Кат 3',
            value: '3'
        },
        {
            name: 'Категория 4',
            value: '4'
        }
    ]