.filter {
    margin-top: 24px;

    &__inner {
        @include sm-block {
            @include row-flex;
        }

        &-left {
            @include sm-block {
                @include col;
                @include size(8);
            }
            width: 100%;
        }

        &-right {
            @include sm-block {
                @include col;
                @include size(4);
                justify-content: flex-end;
                text-align: right;
            }
            width: 100%;
            margin-left: -8px;
        }
    }

    &__select-list {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: -8px;
        margin-left: -8px;
        width: 100%;
    }

    &__tag {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid rgba(5, 117, 230, 0.15);
        padding: 10px 16px;
        background: rgba(5, 117, 230, 0.1);
        border-radius: 22px;
        font-size: 14px;
        line-height: 20px;
        color: #404040;
        margin-left: 8px;
        margin-top: 8px;

        &-title {
            width: #{calc(100% - 28px)};
        }

        &-list {
            display: inline-flex;
            flex-wrap: wrap;
        }

        &-clear {
            @include wh(16px);
            @include icon-bgc(icon-cross());
            margin-left: 12px;
            text-decoration: none;
        }
    }

    & .select, & .select2 {
        max-width: 600px;
    }

    & .select2, & .dropdown {
        @include sm-block {
            width: auto !important;
        }
        width: 100% !important;
        margin-left: 8px;
        margin-top: 8px;
    }
}