extends ../layouts/default

block variables
	- const title = "Товары и цены";
	- const activeMenu = 'goods'


block content
	include ../../blocks/modules/header/header
	include ../../blocks/components/table/table
	include ../../blocks/components/ui-kit/ui-kit
	+header
		+button-link-icon('Добавить мониторинг', 'add', 'plus')

	+table



