extends ../layouts/default

block variables
	- const title = 'Настройки'
	- const activeMenu = 'settings'


block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/person-form/person-form
	+header
	+person-form




