extends ../layouts/default

block variables
	- const title = "Магазины";
	- const activeMenu = 'shop'


block content
	include ../../blocks/modules/header/header
	include ../../blocks/components/table/table-flex
	include ../../blocks/components/search/search
	+header
		.header__search
			+search
	+table-flex



