.table {
    box-sizing: inherit;
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;

    &-section {
        @include lg-block {
            margin-top: 48px;
        }
        margin-top: 32px;
    }

    &-wrap {
        @include sm-block {
            padding-bottom: 28px;
        }
        @include custom-scroll-horizontal();
        padding-bottom: 20px;
        overflow-x: auto;
    }

    &-head {
        &-val {
            vertical-align: middle;
        }
    }

    &-sort {
        display: inline-flex;
        align-items: center;
        margin-left: 12px;
        vertical-align: middle;

        &-nav {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &-down {
            @include wh(10px, 6px);
            @include icon-bgc(icon-down());
            margin-top: 4px;

            &.active {
                background-image: url(icon-down("0575E6"));
            }
        }

        &-up {
            @include wh(10px, 6px);
            @include icon-bgc(icon-up());
            &.active {
                background-image: url(icon-up("0575E6"));
            }
        }

        &-title {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: #c6cacc;
            margin-left: 12px;
            font-weight: $normal;
        }
    }

    & th {
        @include sm-block {
            font-size: 15px;
            line-height: 20px;
            padding-bottom: 12px;
            padding-right: 30px;
        }
        border: none;
        border-bottom: 2px solid #e3e5e6;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: #919699;
        text-align: left;
        padding-bottom: 10px;
        white-space: nowrap;
        padding-right: 20px;
    }

    & td {
        @include sm-block {
            font-size: 14px;
            line-height: 20px;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-right: 30px;
        }
        font-weight: $normal;
        font-size: 13px;
        line-height: 18px;
        color: #5e6366;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 20px;
        border-bottom: 1px solid #e3e5e6;

        & b {
            color: rgba(0, 0, 0, 0.87);
        }

        & a {
            @include sm-block {
                font-size: 14px;
                line-height: 20px;
            }
            text-decoration: none;
            font-size: 13px;
            line-height: 18px;
            color: #5e6366;

            &:hover {
                color: rgba(0, 0, 0, 0.87);
            }
        }
    }

    & tr:last-child td {
        border-bottom: 0;
    }

    & tbody tr:hover {
        background: #f7f9fa;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    & th.no-wrap, & td.no-wrap {
        white-space: nowrap;
    }

    & th.long, & td.long {
        min-width: 600px;
    }

    & th.text-right, & td.text-right {
        text-align: right;
        padding-left: 30px;
    }

    &-footer {
        @include sm-block {
            @include row-flex;
            margin-top: 60px;
        }
        margin-top: 24px;


        &__left, &__right {
            @include sm-block {
                @include col;
                @include size(6);
            }
            width: 100%;
        }

        &__right {
            text-align: right;
        }
    }

    &-result {
        @include sm-block {
            font-size: 14px;
            line-height: 24px;
        }
        font-weight: $normal;
        font-size: 13px;
        line-height: 20px;
        color: #9fa2b4;
    }

    &-nav {
        display: inline-flex;
        align-items: center;

        &__text {
            @include sm-block {
                font-size: 14px;
                line-height: 20px;
            }
            font-weight: $normal;
            font-size: 13px;
            line-height: 18px;
            text-align: right;
            color: #9fa2b4;
        }

        &__block {
            @include sm-block {
                margin-left: 24px;
            }
            margin-left: 18px;
            display: inline-flex;
        }

        &__left, &__right {
            @include wh(24px);
            display: inline-flex;
            text-decoration: none;
        }

        &__left {
            @include icon-bgc(icon-arrow-left());
        }

        &__right {
            @include sm-block {
                margin-left: 12px;
            }
            @include icon-bgc(icon-arrow-right());
            margin-left: 10px;
        }
    }
}