extends layouts/pages
include helpers/mixins

block variables
	- const title = "Список страниц"

block content
	.container
		h1 ShopAnalytics
		br
		hr
		ul
			li
				a(href='register.html') Регистрация
			li
				a(href='auth.html') Вход
			li
				a(href='goods.html') Товары и цены
			li
				a(href='shops.html') Магазины
			li
				a(href='settings.html') Настройки
			li
				a(href='reports.html') Сводные отчеты
			li
				a(href='reports-assort.html') Пересечение ассортимента по видам товара
			li
				a(href='unload.html') Выгрузки

