.person {
    display: flex;
    align-items: flex-start;

    &__avatar {
        @include wh(37px);
        border-radius: 3px;
        background-size: cover;
        background-position: center;
    }

    &__title {
        font-size: 18px;
        line-height: 21px;
        color: #030303;
        margin-bottom: 4px;
        text-decoration: none;
    }

    &__logout {
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        color: rgba(3, 3, 3, .5);
        text-decoration: none;
    }

    &__data {
        margin-left: 23px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}