

mixin person
    .person
        a.__avatar(href='#' style='background-image: url(img/login/avatar.png)')
        .__data
            a(href='#').__title Иванов С.
            a(href='#').__logout Выход
