include ../helpers/functions
include ../helpers/mixins
include ../../blocks/modules/sidebar/sidebar

block variables
	include ../helpers/variables

doctype html
html(lang="ru")
	include ../helpers/head

	body
		.wrapper.js-sidebar-wrap
			aside.aside-content.js-sidebar-block
				block sidebar
					+sidebar

			main.main-content
				block content
		block scripts
			script(src="js/main.js")
			script(src="js/vendor.js")
