include ../helpers/functions
include ../helpers/mixins
include ../../blocks/modules/sidebar/sidebar
block variables

doctype html
html(lang="ru")
	include ../helpers/head

	body.page-login(style="background-image: url(img/login/bg-login.png)")
		+sidebar-logo.sidebar-logo--login
		main.page-login__main
			block content

		block scripts
			script(src="/js/main.js")
			script(src="/js/vendor.js")

